<template> 
    <div class="botGarten bg-gray">
        <BGarten/>
    </div>
</template>
    
<script>
import BGarten from '../components/BGarten.vue'
export default {
    components:{
        BGarten
    }
}
</script>

<style >
.bg-gray {
  background-color: #f5f5f5; /* Hintergrundfarbe anpassen */
}
</style>
