<template> 
    <div class="data">
    <WeatherData/>
    </div>
</template>
    
<script>
import WeatherData from '../components/WeatherData.vue'
export default {
    components:{
        WeatherData
    }
    
}
</script>