<template> 
    <div class="forschung">
        <Forschung/>
        <WeatherTable/>
    </div>
</template>
    
<script>
import WeatherTable from '@/components/WeatherTable.vue';
import Forschung from '../components/Forschung.vue'
export default {
    components:{
        WeatherTable,
        Forschung
    }
    
}
</script>