<template> 
    <div class="team">
    <ContactSide/>
    </div>
</template>
    
<script>
import ContactSide from '../components/ContactSide.vue'
export default {
    components:{
        ContactSide
    }
    
}
</script>