<template> 
    <div class="tfeld">
    <TFeld/>
    </div>
</template>
    
<script>
import TFeld from '../components/TFeldPage.vue'
export default {
    components:{
        TFeld
    }
    
}
</script>
