<template> 
    <div fill-height class="wannsee">
    <WannseePage/>
    </div>
</template>
    
<script>
import WeatherTable from '@/components/WeatherTable.vue';
import WannseePage from '../components/WannseePage.vue'
export default {
    components:{
        WeatherTable,
        WannseePage
    }
    
}
</script>
<style>
.fill-height {
    min-height: 100vh;
}
</style>