<template>
  <v-container fluid fill-height class="bg-lighter-green">
    <!-- Erster Abschnitt: Allgemeine Informationen zum Botanischen Garten -->
    <v-row class="mb-6">
      <v-col cols="12">
        <div class="info-text">
          <h2 class="headline mb-4">Willkommen im Botanischen Garten</h2>
          <p>
            Der Botanische Garten in Berlin Dahlem bietet eine gute Möglichkeit, den Kühlungseffekt von Parks in Städten (Park Cool Island Effekt) zu untersuchen, der im Gegensatz zur städtischen Wärmeinsel steht. Im Botanischen Garten steht seit 1997 die feste meteorologische Station für Berlin Dahlem zur Temperatur- und Feuchtemessung. Darüber hinaus verfügt die AG Stadtklima über weitere Messstationen, um genaue Auswirkungen von verschiedenen Bepflanzungsgraden oder der Bewässerung des Botanischen Gartens zu untersuchen.
          </p>
        </div>
      </v-col>
    </v-row>

    <!-- Zweiter Abschnitt: Informationen zur Wetterstation im Botanischen Garten -->
    <v-row>
      <v-col cols="12" md="6">
        <div class="info-text">
          <h2 class="headline mb-4">Die Wetterstation im Botanischen Garten</h2>
          <p>
            Die Wetterstation im Botanischen Garten befindet sich an einem strategischen Standort, um die mikroklimatischen Bedingungen innerhalb des Gartens zu überwachen. Die Station sammelt Daten zu Temperatur, Luftfeuchtigkeit, Niederschlag und anderen meteorologischen Parametern, um das lokale Klima besser zu verstehen und die Pflege der Pflanzen im Garten zu unterstützen.
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <v-img src="https://img.freepik.com/fotos-kostenlos/gewaechshausstillleben_23-2148127907.jpg?size=626&ext=jpg&ga=GA1.1.1313325077.1714593937&semt=ais" aspect-ratio="2.5" class="info-image"></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  // Hier können bei Bedarf JavaScript-Logik hinzugefügt werden
};
</script>

<style scoped>
/*Styling*/
.info-text {
  padding: 20px;
}

.info-image {
  border-radius: 8px;
}
.bg-lighter-green {
  background-color: #d4f5e1; /* Blasser Grünton */
}
.fill-height {
  min-height: 100vh;
}
body, html {
  margin: 0;
  padding: 0;
}
</style>
