<template>
  <v-container class="custom-background">
    <v-row>
      <!-- Hier habe ich eine Komponente von Vuetify verwendet und dupliziert um die verschiedenen Karten
      auszuwählen weiter Customizations wären möglich. https://dev.vuetifyjs.com/en/components/cards/#funding-card -->
      <v-col cols="12" sm="6" md="4" v-for="(profile, index) in profiles" :key="index">
        <v-card class="mx-auto" max-width="350" rounded="0">
          <v-img height="100%" src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg" cover>
            <v-avatar color="grey" rounded="0" size="150">
              <v-img :src="profile.image" cover></v-img>
            </v-avatar>
            <v-list-item class="text-white" :subtitle="profile.position" :title="profile.name"></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
  <v-row justify="center">
      <v-col cols="12" sm="6" md="4">
        <!-- Hier habe ich eine weitere Vuetify Card Komponente eingefügt und gestaltet-->
        <v-card class="profile-card" outlined>
          <v-card-title class="headline">Offene Stellen</v-card-title>
          <v-card-text>
            <p>Wir suchen talentierte Mitarbeiter!</p>
            <p>Wenn du Interesse an einer Karriere bei uns hast und einen Beitrag zu unserem Team leisten möchtest, freuen wir uns, von dir zu hören.</p>
            <p>Derzeit haben wir verschiedene offene Stellen in den Bereichen Meteorologie, Datenanalyse, Softwareentwicklung und mehr.</p>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" text href="/karriere">Mehr erfahren</v-btn>
            <v-btn color="primary" text href="/kontakt">Kontaktieren Sie uns</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      //Mitarbeiterprofile für die Cards
      profiles: [
        {
          name: "John Doe",
          image: "https://cdn.vuetifyjs.com/images/profiles/marcus.jpg",
          position: "Network Engineer"
        },
        {
          name: "Jane Smith",
          image: "https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=300",
          position: "Software Developer"
        },
        {
          name: "Alice Johnson",
          image: "https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=300",
          position: "UX Designer"
        },
        {
          name: "Michael Brown",
          image: "https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=300",
          position: "Data Analyst"
        },
        {
          name: "Emily Davis",
          image: "https://images.pexels.com/photos/1755385/pexels-photo-1755385.jpeg?auto=compress&cs=tinysrgb&w=300",
          position: "Marketing Manager"
        }
      ]
    };
  }
};
</script>


<style scoped>
.custom-background {
  background-color: #f5f5f5; /* Farbe anpassen */
}

.profile-card {
  margin-bottom: 20px;
}
</style>
