<template>
  <v-container fluid fill-height class="bg-light-gray">
    <!-- Erster Abschnitt: Allgemeine Informationen zur Meteorologie -->
    <v-row class="mb-6">
      <v-col cols="12">
        <div class="info-text">
          <h2 class="headline mb-4">Willkommen zur Meteorologie-Infopage</h2>
          <p>
            Die Meteorologie ist die Wissenschaft, die sich mit der Untersuchung und Vorhersage des Wetters befasst. Sie umfasst die Erforschung von Atmosphäre, Klima und Wetterphänomenen wie Wolkenbildung, Niederschlag, Wind und Temperatur.
          </p>
          <p>
            Meteorologen verwenden eine Vielzahl von Instrumenten und Techniken, um Daten über das Wetter zu sammeln und zu analysieren. Dazu gehören Wetterstationen, Radarsysteme, Satellitenbilder und Computermodelle. Die gewonnenen Erkenntnisse werden genutzt, um Wettervorhersagen zu erstellen, die für die Landwirtschaft, die Luftfahrt, den Verkehr, den Umweltschutz und viele andere Bereiche von entscheidender Bedeutung sind.
          </p>
          <p>
            Darüber hinaus spielt die Meteorologie eine wichtige Rolle bei der Erforschung des Klimawandels und seiner Auswirkungen auf die Erde. Durch die Analyse von langfristigen Klimadaten und die Entwicklung von Klimamodellen tragen Meteorologen dazu bei, das Verständnis für die komplexen Zusammenhänge zwischen Mensch und Umwelt zu vertiefen.
          </p>
        </div>
      </v-col>
    </v-row>

    <!-- Zweiter Abschnitt: Weitere Informationen zur Wetterforschung -->
    <v-row>
      <v-col cols="12" md="6">
        <div class="info-text">
          <h2 class="headline mb-4">Wetterforschung und Innovation</h2>
          <p>
            Die Wetterforschung ist ein dynamisches und sich ständig weiterentwickelndes Feld. Neue Technologien und Methoden ermöglichen es Meteorologen, das Wetter genauer zu beobachten und vorherzusagen als je zuvor. Durch die Integration von Big Data, Künstlicher Intelligenz und Machine Learning in die meteorologische Forschung werden auch in Zukunft Fortschritte erwartet, die unser Verständnis des Wetters und seine Vorhersage verbessern.
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <v-img src="https://media.istockphoto.com/id/1011777484/de/foto/wolke-sturm-himmel-mit-blitz-%C3%BCber-l%C3%A4ndliche-landschaft.jpg?s=612x612&w=0&k=20&c=8fC4ZB0j5Sxi89CZIur76oGjhCC6uKr09nakTruEXlA=" aspect-ratio="2.5" class="info-image"></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  // Hier können bei Bedarf JavaScript-Logik hinzugefügt werden
};
</script>

<style scoped>
.info-text {
  padding: 20px;
}

.info-image {
  border-radius: 8px;
}
.bg-light-gray {
  background-color: #f5f5f5; /* Blasses Grau */
}
.fill-height {
  min-height: 100vh;
}
body, html {
  margin: 0;
  padding: 0;
}
</style>
