<template>
  <v-card>
    <v-layout>
      <!-- v-app-bar ist der Vuetify Command für die Application Bar habe ich von Vuetify verwendet
      https://vuetifyjs.com/en/components/app-bars/#usage-->
      <v-app-bar
        color="green"
        absolute
        flat
      >
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <!--Überschrift -->
        <v-app-bar-title>Das Berliner Institut für Meteorologie</v-app-bar-title>

        <v-spacer></v-spacer>


        <template v-slot:extension>
          <v-tabs
            v-model="tabs"
            align-tabs="title"
          >
          <!-- Auswählbare Tabs der Navigations Bar mit der :to Funktion wird der path zu der jeweiligen 
          path verändert. name muss dabei mit dem name aus inde.js übereinstimmen-->
            <v-tab :to="{name: 'forschung'}" text="Forschung" value="one" router></v-tab>
            <v-tab :to="{name: 'team'}" text="Team" value="two"></v-tab>
            <v-tab :to="{name: 'data'}" text="WetterDaten" value="three"></v-tab>
            <!-- Damit das letzte Tab ausklappbar ist verwende ich ein menu tab-->
            <v-menu
            offset-y
            open-on-hover
            >
    <template v-slot:activator="{ props }">
      <v-tab
              class="align-self-center me-4"
              height="100%"
              rounded="0"
              v-bind="props"
      >
        Wetterstation
      </v-tab>
    </template>
    <v-list>
      <!-- Auflistung der Möglichkeit für das Ausklappen der Navigations Bar-->
      <v-list-item
        v-for="(item, index) in items"
        :key="index"
        :value="index"
        :to="{name: item.name}"
      >
        <v-list-item-title >{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
      </v-menu> 
          </v-tabs>
        </template>
      </v-app-bar>

      <v-main>
        <v-sheet height="0"></v-sheet>
      </v-main>
    </v-layout>
  </v-card>
</template>

<script>
export default {
data: () => ({
  tabs: null,
  //List der ausklappbaren Wetterstationen 
  items: [
      { title: 'Wannsee' ,name: 'wannsee'},
      { title: 'Botanischer Garten',name: 'botgarten'},
      { title: 'Tempelhof' ,name: 'tfeld'},
    ],
})
}
</script>
