<template>
  <v-container fluid fill-height class="bg-lighter-green">
    <!-- Erster Abschnitt: Allgemeine Informationen zum Tempelhofer Feld -->
    <v-row class="mb-6">
      <v-col cols="12">
      <!-- Text mit HTML Elemente-->
        <div class="info-text">
          <h2 class="headline mb-4">Willkommen auf dem Tempelhofer Feld</h2>
          <p>
            Das Tempelhofer Feld ist eine der größten innerstädtischen Freiflächen Europas und befindet sich auf dem Gelände des ehemaligen Flughafens Tempelhof in Berlin. Seit der Schließung des Flughafens im Jahr 2008 wurde das Gelände zu einem öffentlichen Park umgestaltet und ist heute ein beliebtes Naherholungsgebiet für die Bewohner Berlins.
          </p>
          <p>
            Das Tempelhofer Feld bietet vielfältige Freizeitmöglichkeiten für Besucher jeden Alters. Von ausgedehnten Spaziergängen und Fahrradtouren über Picknicks und Grillabende bis hin zu Drachensteigen lassen sich hier zahlreiche Aktivitäten im Freien genießen. Darüber hinaus finden regelmäßig Veranstaltungen wie Konzerte, Flohmärkte und Sportevents auf dem Gelände statt.
          </p>
          <p>
            Die Geschichte des Tempelhofer Feldes reicht bis ins 19. Jahrhundert zurück, als hier zunächst ein Militärflugplatz entstand. Während des Zweiten Weltkriegs spielte der Flughafen Tempelhof eine wichtige Rolle bei der Luftbrücke nach West-Berlin. Heute ist das Tempelhofer Feld ein Symbol für die Vielfalt und Offenheit der Stadt Berlin und ein Ort der Begegnung für Menschen unterschiedlichster Herkunft und Interessen.
          </p>
        </div>
      </v-col>
    </v-row>

    <!-- Zweiter Abschnitt: Informationen zur Wetterstation am Tempelhofer Feld -->
    <v-row>
      <v-col cols="12" md="6">
        <div class="info-text">
          <h2 class="headline mb-4">Die Wetterstation am Tempelhofer Feld</h2>
          <p>
            Die Wetterstation Tempelhofer Feld befindet sich inmitten des Parks und dient der Erfassung meteorologischer Daten in diesem Gebiet. Die Station misst verschiedene Parameter wie Temperatur, Luftfeuchtigkeit, Windgeschwindigkeit und -richtung sowie Niederschlagsmenge. Die gesammelten Daten werden für meteorologische Analysen, Forschungszwecke und zur Unterstützung von Freizeitaktivitäten auf dem Tempelhofer Feld verwendet.
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <v-img src="https://media.istockphoto.com/id/973362168/de/foto/kitesurfer-auf-der-gr%C3%BCnfl%C3%A4che-am-tempelhofer-feld-berlin-deutschland.jpg?s=612x612&w=0&k=20&c=4_LBIf0FEk-heHFJt88T9a7KPConsr5Tv7Ec3ljgjyY=" aspect-ratio="2.5" class="info-image"></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
</script>

<style scoped>
.info-text {
  padding: 20px;
}

.info-image {
  border-radius: 8px;
}
.bg-lighter-green {
  background-color: #d4f5e1; /* Blasser Grünton */
}
.fill-height {
  min-height: 100vh;
}
body, html {
  margin: 0;
  padding: 0;
}
</style>
