<template>
  <v-container fluid fill-height class="bg-lighter-blue" >
    <!-- Erster Abschnitt: Allgemeine Informationen zum Wannsee -->
    <v-row class="mb-6">
      <v-col cols="12">
        <div class="info-text">
          <h2 class="headline mb-4">Willkommen am Wannsee</h2>
          <p>
            Der Wannsee ist einer der bekanntesten Seen in Berlin und ein beliebtes Ausflugsziel für Einheimische und Touristen gleichermaßen. Mit seiner idyllischen Lage im Südwesten der Stadt bietet der Wannsee eine Vielzahl von Freizeitmöglichkeiten und ist ein wichtiger Teil des städtischen Lebens in Berlin.
          </p>
          <p>
            Das klare Wasser des Wannsees lädt zum Schwimmen, Segeln und Rudern ein, während die umliegenden Uferbereiche ideale Orte zum Entspannen und Sonnenbaden bieten. Der angrenzende Grunewald mit seinen ausgedehnten Wäldern und Wanderwegen bietet zudem zahlreiche Möglichkeiten für Outdoor-Aktivitäten und Naturliebhaber.
          </p>
          <p>
            Der Wannsee hat auch eine reiche kulturelle Geschichte und ist eng mit der Geschichte Berlins verbunden. Unter anderem war der Wannsee im Jahr 1942 der Schauplatz der berüchtigten Wannseekonferenz, auf der die nationalsozialistische Führung die Endlösung der Judenfrage beschloss.
          </p>
        </div>
      </v-col>
    </v-row>

    <!-- Zweiter Abschnitt: Informationen zur Wetterstation am Wannsee -->
    <v-row>
      <v-col cols="12" md="6">
        <div class="info-text">
          <h2 class="headline mb-4">Die Wetterstation am Wannsee</h2>
          <p>
            Die WInD Wetterstation Wannsee befindet sich am Südostufer des Sees auf dem Gelände des Wassersportzentrums der FU, wenig südlich des Strandbad Wannsee. Der Windmast steht ca. 4 m von der Uferlinie entfernt, die Windgeber befinden sich ca. 9m über der Wasseroberfläche. Bei Windrichtungen zwischen ca. 180° bis ca. 290° wird die Station vom See her frei angeströmt. Bei den übrigen Windrichtungen sind leider Abschattungen des Windes durch am Ufer stehende Bäume bzw. (bei SE- Wind) durch das ca. 150m entfernt stehende Gebäude der Jugendherberge und der dahinter befindlichen Havelberge zu erwarten. Das Institut ist daher bemüht einen weiteren Standort am Westufer des Sees zu finden, um bei diesen Windrichtungen den Mangel der Abschattung auszugleichen.
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <v-img src="https://media.istockphoto.com/id/1168180536/de/foto/junge-frau-springt-bei-sonnenuntergang-vom-steg-in-den-see.jpg?s=612x612&w=0&k=20&c=KdYSAbS2mlaOhno-zqgR5nsePn09cXm6dRw26kfNvQI=" aspect-ratio="2.5" class="info-image"></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

</script>

<style scoped>
.info-text {
  padding: 20px;
}

.info-image {
  border-radius: 8px;
}
.bg-lighter-blue {
background-color: #e0e5e9; /* Noch blasserer Blauton */
}
.fill-height {
  min-height: 100vh;
}
body, html {
margin: 0;
padding: 0;
}

</style>
