<template>
    <v-app>
      <v-container>
        <v-card>
          <v-card-title>HTTP Anfrage Tool</v-card-title>
          <v-card-text>
            Implementieren sie die HTTP Anfragen in ihr Frontend und stellen sie diese auf der Website zur Verfügung. 
            Überlegen sie sich wie sie diese Elemente gestalten können damit sie für einen User möglichst intutitiv zu nutzen sind. 
            
            Überlegen sie sich dabei für welche Zielgruppe sie ihre Website optimieren. 
            Beachten sie dies auch in ihrer Formulierung des Tools und der Eingabemöglichkeiten.
          </v-card-text>
        </v-card>
      </v-container>
    </v-app>
  </template>
  
  <script>
  export default {
    // Hier könnte bei Bedarf JavaScript-Logik hinzugefügt werden
  };
  </script>
  
  <style>
  /* Add your custom styles here */
  </style>
  