<template>
  <!-- Definition einer einfachen Tabelle mit Hilfe einer Vuetify Komponente
  https://vuetifyjs.com/en/components/data-tables/basics/#virtual-tables -->
  <v-data-table-virtual
    :headers="headers"
    :items="Temperaturen"
    height="200"
    item-value="name"
    color="red"
  >
  <template v-slot:item.mon="{ item }">
      <v-chip
        :color="getColor(item.mon)"
        dark
      >
        {{ item.mon }}
      </v-chip>
    </template>
    <template v-slot:item.tue="{ item }">
      <v-chip
        :color="getColor(item.tue)"
        dark
      >
        {{ item.tue }}
      </v-chip>
    </template>
    <template v-slot:item.wed="{ item }">
      <v-chip
        :color="getColor(item.wed)"
        dark
      >
        {{ item.wed }}
      </v-chip>
    </template>
    <template v-slot:item.thu="{ item }">
      <v-chip
        :color="getColor(item.thu)"
        dark
      >
        {{ item.thu }}
      </v-chip>
    </template>
    <template v-slot:item.fri="{ item }">
      <v-chip
        :color="getColor(item.fri)"
        dark
      >
        {{ item.fri }}
      </v-chip>
    </template>
    <template v-slot:item.sa="{ item }">
      <v-chip
        :color="getColor(item.sa)"
        dark
      >
        {{ item.sa }}
      </v-chip>
    </template>
    <template v-slot:item.so="{ item }">
      <v-chip
        :color="getColor(item.s0)"
        dark
      >
        {{ item.so }}
      </v-chip>
    </template>
  </v-data-table-virtual>
</template>

<script>
export default {
  data () {
    return {
      //Auflistung der ersten Zeile
      headers: [
        { title: 'Montag', key: 'mon' },
        { title: 'Dienstag', key: 'tue'},
        { title: 'Mittwoch', key: 'wed' },
        { title: 'Donnerstag', key: 'thu' },
        { title: 'Freitag', key: 'fri' },
        { title: 'Samstag', key: 'sa' },
        { title: 'Sonntag', key: 'so' }
      ],
      //Auflistung der zweiten Zeile
      Temperaturen: [
        {
          mon: 22,
          tue: 25,
          wed: 28,
          thu: 30,
          fri: 17,
          sa: 24,
          so: 26,
        }
    ]
      }
  },
  //Zuweisung der Farben der einzelnen Tage
  methods: {
      getColor (temp) {
        if (temp > 25) return 'red'
        else if (temp > 20) return 'orange'
        else return 'blue'
      },
    },
}
</script>
